<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>New York City GeoApps | Cartoview</title>
		<meta name="description" content="New York City GeoApps, Maps, tile layers and feature services using Cartoview" />
		<meta name="keywords" content="nyc, new yotk city, map, tiles, tile, crimes, population, parking, accidents, thematic, feature layer" />
		<meta name="author" content="Cartologic" />
		<link rel="icon" href="{{STATIC_URL}}images/cartoview.png" >
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}nyc_home/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}nyc_home/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}nyc_home/css/component.css" />
		<script src="{{STATIC_URL}}nyc_home/js/modernizr.custom.js"></script>
	</head>
	<body class="demo-2">
		<div class="container">
			<!-- Top Navigation -->
			<div class="codrops-top clearfix">
				<a href="http://cartologic.com"><span>Cartologic</span></a>
				<span class="right"><a href="http://cartologic.com/cartoview"><span>Cartoview Home</span></a></span>
			</div>
			<header class="codrops-header">
				<h1>New York City GeoApps<span>Powered By <a href="https://cartologic.com/cartoview">Cartoview</a></span></h1>
				<nav class="codrops-demos">
					<a href="http://cartologic.com/nyc/catalog/">Catalog</a>
					<a href="http://cartologic.com/nyc/helpdesk/">HelpDesk</a>
					<!-- <a href="catalog/search/?sort=name&dir=asc&app=geoq">Geo-Q</a> -->
					<a href="http://cartologic.com/nyc/catalog/search/?app=umap">uMap</a>
					<a href="http://cartologic.com/nyc/catalog/search/?app=shareabouts">Shareabouts</a>
					<a href="http://cartologic.com/nyc/catalog/search/?app=cartoserver">Cartoserver</a>
					<a href="http://cartologic.com/nyc/catalog/search/?app=cartotiler">Cartotiler</a>
				</nav>
			</header>
			<section class="grid3d horizontal" id="grid3d">
				<div class="grid-wrap">
					<div class="grid">
						<figure>
							<a href="http://cartologic.com/nyc/feature_details/7/nyc-crimes-thematic-map/">
								<img src="{{STATIC_URL}}nyc_home/img/1.png" alt="img04"/>
								<h4>Crimes per Neighbourhood Thematic Map</h4>
							</a>
						</figure>
						<figure>
							<a href="http://cartologic.com/nyc/map_viewer/6/nyc-crimes-dot-density-map/">
								<img src="{{STATIC_URL}}nyc_home/img/2.png" alt="img03"/>
								<h4>Crimes Locations - Dot Density Map</h4>
							</a>
						</figure>
						<figure>
							<a href="http://cartologic.com/nyc/feature_details/8/nyc-parking-facilities/">
								<img src="{{STATIC_URL}}nyc_home/img/3.png" alt="img01"/>
								<h4>Parking Facilities Map</h4>
							</a>
						</figure>
						
						<figure>
							<a href="http://cartologic.com/nyc/shareabouts/admin/maps/nyc-parking-facilities/">
								<img src="{{STATIC_URL}}nyc_home/img/5.png" alt="img02"/>
								<h4>Share Parcking Locations</h4>
							</a>
						</figure>
						<figure>
							<a href="http://cartologic.com/nyc/map_viewer/7/nyc-fatality--injury-crash-data-2014/">
								<img src="{{STATIC_URL}}nyc_home/img/6.png" alt="img08"/>
								<h4>Road Accidents</h4>
							</a>
						</figure>
						<figure>
							<a href="http://cartologic.com/nyc/feature_details/5/nyc-theaters/">
								<img src="{{STATIC_URL}}nyc_home/img/4.png" alt="img05"/>
								<h4>NYC Theaters</h4>
							</a>
						</figure>
					</div>
				</div><!-- /grid-wrap -->
				<div class="content">

					<div id="ct-content">

					</div>
					<span class="loading"></span>
					<span class="icon close-content"></span>
				</div>
			</section>
			<section>
				<p>Copyright © <a href="https://cartologic.com">Cartologic</a> 2015</p>
			</section>
		</div><!-- /container -->
		
	</body>
</html>