<div id="center_header">
    <div id="search">
        <!--<form method="GET" id="search_form">-->
            <!--<div id="search_qs">-->
            <!--<input type="text"  id="qs" value="Search for data" />-->
            <!--</div>-->
        <!--</form>-->
        <form method="GET" class="nav-form" id='search_form' role="search">
            <div class="input-group" id="search_qs">
                <input type="text" class="form-control" placeholder="Search" id="qs">
                <div class="input-group-btn">
                    <button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </form>
        <div id="search_img"></div>
    </div>
</div>
