{% extends "catalog/template-submit.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap %}
{% block title %} - Submit Data{% endblock %}
{% block bottomhead %}
        <meta http-equiv="refresh" content="2; url={% url 'catalog_base_url' %}" />
{% endblock %}
{% block js_ready %}
	<script>
		$(document).ready(function () {
			odp.setupSearchInput();
		});
	</script>
{% endblock %}

{% block center_container %}
    <h3>Submit success .... Seconds to go back to <a href="{% url 'catalog_base_url' %}" target=""><b>catalog</b></a></h3>
{% endblock %}
